<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="bankName" value="HDFC Bank"/>
    <add key="rate" value="12"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpCustomer" />
        <binding name="HttpManager" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/customer" binding="basicHttpBinding"
        bindingConfiguration="HttpCustomer" contract="BankServiceProxy.IBankingCustomer"
        name="HttpCustomer" />
      <endpoint address="http://localhost:8000/manager" binding="basicHttpBinding"
        bindingConfiguration="HttpManager" contract="BankServiceProxy.IBankingManager"
        name="HttpManager" />
    </client>
  </system.serviceModel>
</configuration>