<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="bankConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\MyWorks\Corporate\202002-honeywell-cs\hwbanking.mdf;Integrated Security=True;Connect Timeout=30"
         />
  </connectionStrings>


  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="ConceptArchitect.Banking.Bank">
        <endpoint name="HttpCustomer"
                  address="customer"
                  binding="basicHttpBinding"
                  contract="ConceptArchitect.Banking.IBankingCustomer" />

        <endpoint name="HttpManager"
                  address="manager"
                  binding="basicHttpBinding"
                  contract="ConceptArchitect.Banking.IBankingManager" />


        <endpoint name="wsdl"
                  address="wsdl"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />


        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000"/>
              
          </baseAddresses>
        </host>
        
      </service>
    </services>
    
  </system.serviceModel>
  
</configuration>